.nav {
  margin-left: 55px;
  margin-top: 52px;

  min-width: 880px;
  min-height: 52px;

  background-color: #f5faff;
  border-radius: 25px;

  box-shadow: 0px 0px 15px 1px gray;

  display: flex;
  align-items: center;
}

.lists {
  margin: 0;
  padding-left: 268px;

  display: flex;
  gap: 40px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #020202;
}

.link:hover {
  cursor: pointer;
  color: #64d370;
}
