.programChef {
  max-width: 1180px;

  padding-top: 100px;

  margin-left: auto;
  margin-right: auto;
}

.programms__button {
  display: flex;
  gap: 20px;
}

.button {
  width: 580px;
  height: 62px;

  background-color: #dee6ee;

  border-radius: 30px;
  border: none;

  cursor: pointer;
}

.programm {
  padding-top: 70px;

  display: flex;
  justify-content: space-between;
}

.programm__button {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: none;

  background-color: #f5faff;
  color: #020202;

  cursor: pointer;
}

.button_mainText {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.button_kkalText {
  padding-top: 7px;

  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.button_type_action {
  background-color: #64d370;
}

.programm__button_type_action {
  color: #64d370;
}

.programm__button:hover {
  color: #64d270;
}

.button:hover {
  background-color: #64d270;
}

.programDescription_content {
  padding-top: 50px;

  display: flex;
  gap: 20px;
}

.programDescription {
  max-width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.programDescription_info {
  background-color: #64d370;

  border-radius: 30px;

  box-shadow: 0px 0px 15px 1px gray;
}

.programDescription_header {
  padding-left: 50px;
  padding-top: 30px;

  display: flex;
  align-items: flex-end;

  gap: 20px;
}

.title {
  margin: 0;

  font-size: 25px;
  font-weight: 500;
  line-height: 32px;
  color: #f5faff;
}

.title_text {
  margin: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #f5faff;
}

.text {
  padding: 19px 50px 40px;

  margin: 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #f5faff;
}

.programDescription_table {
  min-width: 340px;

  padding-top: 50px;
  padding-bottom: 35px;
}

.programDescription__text {
  padding-bottom: 15px;

  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  color: #000000;
}

.programDescription_button {
  width: 280px;
  height: 60px;

  background-color: #64d370;
  box-shadow: 0px 0px 5px 1px gray;

  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  color: #f5faff;

  border-radius: 30px;
  border: none;

  cursor: pointer;
}

.programDescription_button:hover {
  box-shadow: 0px 0px 15px 1px gray;
}

.programDescription_programmChef {
}

.programDescription_days {
  min-width: 780px;
  min-height: 55px;

  background-color: #f5faff;
  box-shadow: 0px 0px 15px 1px gray;

  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
}

.programDescription_day {
  border: none;
  background-color: #f5faff;

  font-size: 25px;
  font-weight: 500;
  line-height: 28px;
  color: #000000;
}

.programDescription_daytype_action {
  color: #64d270;
}

.programDescription_day:hover {
  color: #64d270;
  cursor: pointer;
}
