.logo {
  width: 264px;
  height: 264px;

  border-radius: 50%;
  background-color: #f5faff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 15px 1px gray;

  position: absolute;
  top: -47px;

  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  color: #64d370;
  box-shadow: 0px 0px 15px 1px #64d370;
}

.text {
  margin: 0;

  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #020202;
}
